* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;

}
header {
  background-color: #072f5d;
  padding: 5px;
  display: block;
  text-align: center;
}
.menu-logo {
  padding: 4px;
}

#logo:hover {
  cursor: pointer;
  background-color: #0f75eb;
}

.menu-header > ul > li {
  margin: 5px;
  padding: 5px;
  border-top: 1px solid white;
  list-style: none;
}

.menu-header {
  display: none;
}
.menu-header > ul > li:hover {
  background-color: #0f75eb;
  cursor: pointer;
}
.menu-header > ul > li > a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}
.container {
  width: 100vw;
  height: 100vh;
  margin: auto;
}
.container img {
  width: 100%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

section.products {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}

section > div {
  width: 600px;
}

.titulo > h1 {
  color: #0f75eb;
  margin-bottom: 10px;
  font-size: 2em;
}
.titulo p {
  text-align: justify;
  margin-bottom: 5px;
  line-height: 30px;
}
.titulo button {
  text-align: center;
  padding: 10px;
  /* width: -webkit-fill-available; */
  border: none;
  color: white;
  cursor: pointer;
  background-color: #072f5d;
}
.titulo button:hover {
  background-color: #0f75eb;
}

.section-service {
  background-color: #072f5d;
}
#service-titulo {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 10px;
}
.servico {
 
  
  padding: 20px;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}
.servico div {
  width: 350px;
  padding: 10px;
}
.servico div p {
  color: white;
  text-align: justify;
  margin-bottom: 5px;
}
.servico div a {
  color: white;
  margin-top: 10px;
  text-decoration: none;
}
.servico div a:hover {
  text-decoration: underline;
  color: #0f75eb;
}
.servico img {
  width: 100px;
  height: 100px;
}

footer {
  text-align: center;
  padding: 20px;
  color: #072f5d;
  background-color: #999b9c81;
}
/* =============================== */
#marketing{
  background: url("../img/background-home.jpg") no-repeat;
  background-position: center center ;
  background-size: cover;
    border: 5px solid white;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.623);
    border-radius: 10px;

}

#cloud{
  background: url("../img/background-servicos.jpg") no-repeat;
  background-position: center center ;
  background-size: cover;
    border: 5px solid white;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.623);
    border-radius: 10px;
}
#virtual_store{
  background: url("../img/background-sobre1.jpg") no-repeat;
  background-position: center center ;
  background-size: cover;
    border: 5px solid white;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.623);
    border-radius: 10px;
}
#seo{
  background: url("../img/background-home.jpg") no-repeat;
  background-position: center center ;
  background-size: cover;
    border: 5px solid white;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.623);
    border-radius: 10px;

}


